@import '../../variables.scss';

nav.is-fixed {
  -webkit-app-region: drag;
  left: 0;
  position: fixed !important;
  right: 0;
  top: 0;
  z-index: 500;
}

.header {
  &__logo {
    font-size: $base-font-size * 3;
    line-height: 1;
    margin-bottom: $small-spacing / 4;
    margin-left: $small-spacing;
  }

  &__help-link {
    margin-right: $base-spacing;
  }
}

