.reader__container {
  background-color: #fcfcfc;
}

.reader__controls {
  background-color: #fcfcfc;
  border-bottom: solid 1px #ccc;
  height: 50px;
  position: absolute;
  width: 100vw;
  z-index: 500;
}
